*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
font-size: larger;
}
body{

background: #cd9e98;
overflow: hidden;

}


.grit {
    -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
    mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  }
  

.container{

position: absolute;
display: grid;
width: 400px;
height: 600px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  repeat(7, 1fr);   

background-color: #cd9e98;
padding: 20px;
border-radius: 50px;
box-shadow: 10px 10px 50px hsl(0, 0%, 13%, .75) ;



align-items: center;
border: 0px solid #212121;


}






.screen{
    position: relative ;
    background-color: #212121;
    height: 80px;
    width: auto;
    grid-column: 1 / -1;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
   
}



.zero{

    grid-column: span 3;
}

button{

outline: none;
   background-color: #b74d4f;
border: none;
padding: 10px;
border-radius: 30px;
color: #e77b7d;
margin: 5px;
cursor: pointer;
transition-timing-function: ease;
transition-duration: 70ms;
    touch-action: manipulation;
}



.clear{
   
 
    grid-column: span 3;
    border-radius: 30px;
    color: #212121;
}


button:hover{


    background-color: #e77b7d;
    color: #212121;
}

button:active{

transform:  scale(0.94);


}


[data-number]{

    background-color: #212121;



}

[data-symbol]{

 color: #aca4b6;;



}
.number{

color: #aca4b6;


}

.previousNumber{

    color: #aca4b6;


}


[data-screen]{

padding:5px;
padding-left: 20px;;


}


.pretty{
    position: absolute;
    width: 300px;
    height:100px;
    background-color: #212121;
    left: 200px;
    top: 50px;
    border-radius: 60px;


}

.ugly{
    position: absolute;
    display: inline-block;
    left: 200px;
    top: 50px;
    width: 120px;
    height: 400px;
  background-color: #212121;
  border-radius: 60px;
}
.ugly2{
    position: absolute;
    content: "";
    display: inline-block;
    width: 120px;
    height: 200px;
    border-bottom-right-radius: 0px ;
  background-color: #212121;

  left: 260px;
  top: 50px;

}

.delete{

position: absolute;
width: 200px;
height: 300px;
background-color: #cd9e98;
left: 320px;
top: 150px;
border-radius: 30px;

}

.corner{

    position: absolute;
    width: 200px;
    height: 300px;
    background-color: #212121;
    left: 320px;
    top: 500px;
    border-bottom-left-radius: 80px;

}

.hehe{


    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #b74d4f;
    left: 120px;
    top: 500px;
    border-radius: 50%;
}

.line{

    
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #b74d4f;
    left: 80%;
    top: 60%;
    border-top-left-radius: 90px;



}
